body {
  background: #fff;
  color: #222;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-size: 16px;
  table-layout: fixed;
  user-select: none;
}

main {
  width: 90%;
  max-width: 40em;
  margin: auto;
  flex: 1;
}

/* search ロゴ */
img {
  display: block;
  margin: 8em auto 3em auto;
}

/* 検索窓 */
form input[type="search"] {-webkit-appearance:none;}

.search-area #window {
  width: 100%;
  line-height: 2.4em;
  font-size: 1.2em;
  padding: 0 42px;
  border-radius: 30px;
  border: solid 1px #dfe1e5;
  outline: none;
  transition: .3s;
}

#window:hover, #window:focus {box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);}

/* autocomplete時の背景色無効 */
@keyframes onAutoFillStart { from {} to {}}

#window:-webkit-autofill {
    animation-name: onAutoFillStart;
    transition: background-color 50000s ease-in-out 0s;
}

.search-area {position: relative;}

.search-area .fa-hashtag, .search-area .fa-microphone {
  position: absolute;
  bottom: 0.85em;
  font-size: 18px;
  color: #5F6368;
}

.search-area .fa-hashtag {left: 1em;}
.search-area .fa-microphone {right: 1em;}

.search-area .fa-microphone:hover {cursor: pointer;}

/* 中央のボタン */
.button-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  width: 450px;
  max-width: 100%;
  grid-gap: 6px;
  margin: 3em auto;
}

.button-area #random {
  grid-column: 1/5;
  grid-row: 2/3;
}

.button-area button {
  color: #5F6368;
  background: #F2F2F2;
  text-decoration: none;
  padding: 1em 0;
  cursor: pointer;
  border-radius: 4px;
  overflow-wrap : break-word;
  border: none;
  outline: none;
  transition: .3s;
}

.button-area button:hover {
  box-shadow: 0 0 3px #222;
  outline: 1px #222;
}

#twitter:hover {color: #fff; background: #1da1f2;}
#instagram:hover {
  color: #fff;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 80%);
}
#facebook:hover {color: #fff; background: #3b5998;}
#note:hover {color: #fff; background: #41C9B4;}
#random:hover {
  color: #F2F2F2;
  background: linear-gradient(45deg, #3b5998, #1da1f2, #41C9B4, #427eff, #f13f79);
}

/* フッター */
footer {
  line-height: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0;
  bottom: 0;
  cursor: default;
  background: #F2F2F2;
  outline: 1px solid #dfe1e5;
  width: 100%;
}

footer a {
  cursor: pointer;
  text-decoration: none;
  color: #5F6368;
  margin: 1em;
}
footer a .fas {margin-right: 5px;}

footer a:hover {text-decoration: underline;}
footer a:hover .fas {color: #ff0000;}

/* スマホ用CSS */
@media screen and (max-width: 480px) {
  img {
    margin-top: 4em;
    width: 90%;
  }
  .button-area {
    grid-template-columns: repeat(2, 1fr);
  }
  .button-area #random {
    grid-column: 1/3;
    grid-row: 3/4;
  }
}

/* ダークモード対応CSS */
@media (prefers-color-scheme: dark) {
  body {background-color: #1F1F1F;}
  img {filter: brightness(0) invert(1);}
  .search-area #window {border-color: #333;}
  footer {
    background-color: #282828;
    outline-color: #333;
  }
  footer a {color: #fff;}
}